.filter {
    transition: 0.3s all;
}

.filter__closed {
    height: 0;
    opacity: 0;
}

.filter__open {
    height: 200px;
    max-height: auto;
    opacity: 1;
}

.filter__form {
    display: none;
}

.filter__form-open {
    display: block;
}