.filter {
    opacity: 0;
    max-height: 0;
    transition: all 0.3s;
}

.filter__closed {
    /* height: 0; */
}

.filter__open {
    max-height: 250px;
    opacity: 1;
}

.filter__form-open {
    display: block;
}