.filter {
    opacity: 0;
    max-height: 0;
    transition: all 0.3s;
}

.filter__open {
    padding: 1rem .5rem;
    max-height: 250px;
    opacity: 1;
}

.filter__form-open {
    display: block;
}

.filter__form-closed {
    display: none;
}