

.gnome-card {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(117,117,117,1);
}

.gnome-card__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.gnome-card__name {
    font-family: 'laconick';
}