.gnome-card {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    display: flex;
    background-color: rgb(73,63,57);
    color: rgb(255, 255, 255);
}

.gnome-card__img {
    width: 30%;
    min-width: 30%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gnome-card__data-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 70%;
    padding: .5rem
}

.gnome-card__data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.gnome-card__name {
    font-size: 1rem;
}

.gnome-card__age {
    color: rgb(217, 206, 131);
}

.gnome-card__measurements {
    display: flex;
}

.measurements__height {

}

.measurements__weight {
    padding-left: 1rem;
}

.gnome-card__professions {
}