.gnome-directory {
    padding: 0 .5rem 1rem .5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(auto, 150px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
    background-color: rgb(68, 56, 52);
}

.gnome-directory__pagination {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

@media(min-width: 900px) {
    .gnome-directory {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1200px) {
    .gnome-directory {
        grid-template-columns: 1fr 1fr 1fr;
    }
}