@font-face {
    font-family: "lato";
    src: url("/public/fonts/Lato-Regular.ttf") format("truetype");
}

* {
    font-family: 'lato';
}

.app {
    background-color: rgb(68, 56, 52);
    min-height: 100vh;
}