.search {
    opacity: 0;
    max-height: 0;
    transition: all .3s;
}

.search__open {
    padding: 1rem .5rem;
    max-height: 250px;
    opacity: 1;
}

.search__input-open {
    display: block;
}

.search__input-closed {
    display: none;
}

.search__input-wrapper {
    display: flex;
}

.search__input-input {
    width: calc(100% - 100px);
}

.search__button {
    width: 100px;
}

