.filter__input-wrapper {
    display: flex;
    padding-top: .3rem;
}

.filter__inputs-wrapper {
    display: flex;
    width: calc(100% - 100px);
}

.filter__inputs-label {
    width: 100px;
}

.filter__input {
    width: calc(100% - 10px);
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}