.filter__input-wrapper {
    display: flex;
    padding-top: .3rem;
}

.filter__inputs-wrapper {
    display: flex;
    width: calc(100% - 75px);
}

.filter__inputs-label {
    width: 75px;
}

.filter__input {
    width: 30%;
    margin-left: .5rem;
}