.filter__input-container {
  display: flex;
  padding-top: 0.3rem;
}

.filter__inputs-label {
  width: 100px;
  color: white;
}

.filter__inputs-wrapper {
  display: flex;
  width: calc(100% - 100px);
  justify-content: space-between;
  box-sizing: border-box;
}

.filter__input-wrapper {
  box-sizing: border-box;
  width: calc(50% - 2px);
}

.filter__input {
  box-sizing: border-box;
  border: none;
  padding: 0.25rem;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
